site_name: Aya
repo_url: https://github.com/aya-rs/aya
site_url: https://aya-rs.dev
edit_uri: ../book/edit/main/docs
extra_css:
  - stylesheets/extra.css

theme:
  name: material
  custom_dir: overrides
  language: en
  logo: assets/images/crabby.svg
  favicon: assets/images/crabby.svg
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: yellow
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: yellow
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - content.code.annotate

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.gg/xHW2cb2N6G
    - icon: fontawesome/brands/github
      link: https://github.com/aya-rs
    - icon: fontawesome/solid/book
      link: https://docs.rs/aya

markdown_extensions:
  - admonition
  - pymdownx.highlight:
        anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - tables

nav:
  - Home:
    - index.md
  - Getting Started:
    - book/index.md
    - A Simple XDP Program:
      - book/start/index.md
      - Development Environment: book/start/development.md
      - Hello XDP!: book/start/hello-xdp.md
      - Logging Packets: book/start/logging-packets.md
      - Dropping Packets: book/start/dropping-packets.md
    - Working With Aya:
      - book/aya/index.md
      - Reading Values From A Context: book/aya/context.md
      - Using aya-gen: book/aya/aya-gen.md
      - Using aya-log: book/aya/aya-log.md
    - Program Types:
      - book/programs/index.md
      - Probes: book/programs/probes.md
      - Tracepoints: book/programs/tracepoints.md
      - Socket Programs: book/programs/sockets.md
      - Classifiers: book/programs/classifiers.md
      - Cgroups: book/programs/cgroups.md
      - XDP: book/programs/xdp.md
      - LSM: book/programs/lsm.md
  - Community:
    - community/index.md
    - Code of Conduct: community/code_of_conduct.md
plugins:
  - search

copyright: Copyright &copy; 2021-2022 The Aya Contribtutors
