name: Build

on:
  push:
    branches:
      - main
      - staging

  pull_request:
    branches:
      - main
      - staging

  schedule:
    - cron: 00 4 * * *

env:
  CARGO_TERM_COLOR: always

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: '**/*.md'

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt,rust-src

      # Installed *after* nightly so it is the default.
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            examples/aya-tool
            examples/cgroup-skb-egress
            examples/kprobetcp
            examples/lsm-nice
            examples/tc-egress
            examples/xdp-drop
            examples/xdp-hello
            examples/xdp-log

      - uses: taiki-e/install-action@v2
        with:
          tool: bpf-linker,mdbook

      - run: mdbook build
      - run: mdbook test

      - name: Check Examples
        working-directory: examples
        run: ./test.sh
