name: Build

on:
  push:
    branches:
      - main
      - staging

  pull_request:
    branches:
      - main
      - staging

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - name: Install latest stable
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rust-src

      - uses: Swatinem/rust-cache@v2

      - name: Install bpf-linker
        run: cargo install bpf-linker

      - name: Set up Python
        uses: actions/setup-python@v4

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Build docs
        run: mkdocs build

      - name: Check Examples
        run: |
          for dir in ./examples/*/ ; do
            pushd "${dir}"
            echo "Example: ${dir}."
            cargo xtask build-ebpf
            cargo build
            popd
          done
